/*Adjusting the main grid layout and shdows*/
main {
    background-color: #282b30;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

/* Creating a container and adjusting the marging and display */
.users {
    margin: 50px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    width: 70%;
    height: 1000px;
    flex-flow: column wrap;
    background-color: #36393e;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}

/* Changing h1 styling */
.users h1 {
    padding-top: 50px;
    color: white;
    padding-bottom: 50px;
}

/* Changing Section width and color */
section {
    width: 600px;
    background-color: #424549;
}

/* Adjusting height and scroll function for the list of users */
.list-container {
    max-height: 500px;
    overflow-y: auto; /* Add vertical scroll when the content exceeds the container's height */
}

/* Adjusting section styling and alignment */
section input {
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 20px;
    justify-content: center;
}

/* Centering section and setting colomn direction 8?
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h3{
    color: white;
    margin: 10px;
    font-size: 25px;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}
