@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #424549;
}

header {
    line-height: 100px;
    display: flex;
    align-items: center;
    background-color: #1e2124;
    grid-column-start: span 0;
    grid-column-end: span 3;
}

header h2{
    color: #7289da;
}

main {
    background-color: #282b30;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100px auto auto 100px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #7289da;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    font-size: 20px;
    font-weight: 400;
    color: #7289da;
    text-decoration: none;
}

.nav-menu {
    position: fixed;
    left: 100%;
    top: 100px;
    flex-direction: column;
    background-color: #282b30;
    width: 150px;
    text-align: center;
    transition: 0.6s;
    padding: 0;
    margin: 0;
}

.nav-menu.active {
    left: calc(100% - 150px);
}

.hamburger {
    display: block;
    cursor: pointer;
}

.nav-menu li {
    list-style: none;
}

.nav-item {
    font-size: 1em;
}

.users {
    margin: 50px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    width: 70%;
    height: 1000px;
    flex-flow: column wrap;
    background-color: #36393e;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}

.users h1 {
    padding-top: 50px;
    color: white;
    padding-bottom: 50px;
}

section {
    width: 600px;
    background-color: #424549;
}

.list-container {
    max-height: 500px;
    overflow-y: auto; /* Add vertical scroll when the content exceeds the container's height */
}

.horizontal-list {
    list-style: none;
    padding: 0;
    display: flex; /* Use flexbox to display the items horizontally */
    flex-wrap: wrap;
    flex-direction: column;
    overflow: scroll;
}

.horizontal-list li {
    flex: 1;
    display: flex;
    align-items: center;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);

}

.horizontal-list li:last-child {
    margin-right: 0;
}

/* Style the individual elements within each <li> */
.horizontal-list h2 {
    margin: 10px;
    color: white;
    font-size: 20px;
}

.horizontal-list img {
    max-width: 100px;
    margin-right: 10px;
}

.horizontal-list p {
    margin: 0;
    color: #7289da;
}

.horizontal-list a {
    text-decoration: none;
}

section input {
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 20px;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h3{
    color: white;
    margin: 10px;
    font-size: 25px;
    padding-top: 20px;
}
