/*Adjusting the main grid layout and shadows*/
main {
    background-color: #36393e;
    color: #ffffff;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}

section {
    background-color: #36393e;
}
/*Distances the content from borders*/
.userData {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*Flex/column/center is used so the name is placed above the description*/
.nameDescription {
    max-height: 250px;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameDescription h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
/*If text is overflowing makes it scrollable*/
.description {
    justify-content: start;
    white-space: normal;
    overflow: auto;
    text-overflow: ellipsis;
}
/*Makes element a circle, and fits the content to given size without stretching*/
.profilePic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover; 
}
/*Centers all text, and displays contained elements next to eachother*/
.details {
    text-align: center;
    display: flex;
    justify-content: center;
}
/*Simple box, scrollbar hidden, box-shadow added to better discern from background*/
.detail {
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #282b30;
    margin: 25px;
    margin-top: 5px;
    height: 300px;
    width: 250px;
    border: 1px solid black;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/*Hides scroll bar for certain browsers*/
.detail::-webkit-scrollbar, .description::-webkit-scrollbar{
    display: none;
  }
/*Removes list dots, transition used for hover*/
.detail ul li {
    padding: 5px;
    background-color: #36393e;
    margin: 15px;
    margin-bottom: -5px;
    border-radius: 5px;
    list-style-type: none;
    transition: 0.4s;
}
/*On hover, changes background colour and adds box-shadow*/
.detail ul li:hover {
    background-color: #1e2124;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}

.detail ul li p {
    padding: 2px;
}
/*Flex used to space multiple elements with an evenly between eachother*/
.certificates li {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}
/*If text is too long, add dots...*/
.certificates li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*The pop-up form, centered in the middle of the site, hidden by default*/
.detailpopup {
    padding: 25px;
    display: none;
    position: fixed;
    background-color: #282b30;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
    width: 750px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -250px;
    border-radius: 10px;
}
/*Contains the info inside the pop-up*/
.popupContainer {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 95%;
    margin: 25px auto;
}
/*Used for our beautiful button that closes the pop-up*/
.popupClose {
    float: right;
    border : 5px solid black;
    border-radius: 50%;
    padding: 1px 0;
    height: 30px;
    width: 30px;
    text-align: center;
    text-size-adjust: 5px;
}
/*Centers horizontally, width matches content width*/
.certDetails {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: max-content;
    font-size: 15px;
}
/*Centers .detail class in the pop-up*/
.popupContainer .detail {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
/*Centers horizontally*/
.grades {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}