/* Aside */
aside {
    background-color: #282b30;
    padding: 64px;
    border: 1px solid #333;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}

aside.comment.archives {
    margin-top: 64px;
}

aside {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    max-width: 100%;
}

aside h1 {
    text-align: center;
    font-size: 50px;
}

aside p {
    text-align: center;
    font-size: 20px;
    color: white;
}

.post h1{
    color: #fffffc;
    margin: 16px 0;
    font-weight: 800;
}

.post p {
    margin: 16px;
    line-height: 1.75;
    font-weight: 400;
}

main {
    background-color: #36393e;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}

section {
    background-color: #36393e;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

section h1 {
    text-align: center;
    font-size: 20px;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.userAvatar {
    margin-right: 10px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.team {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.team h2 {
    text-align: center;
    padding-top: 10px;
}

.team a, .users a {
    color: white;
    text-decoration: none;
}

.team p {
    text-align: center;
    width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.teamMember {
    padding: 10px;
}

.users {
    display: flex;
    border-radius: 10px;
    height: max-content;
    padding: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.users h1 {
    color: #fffffc;
    margin: 16px 0;
    font-weight: 800;
}

.user {
    padding: 15px;
    border-radius: 5px;
    background-color: #282b30;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 15px;
}

.user h3 {
    white-space: nowrap;
    margin-bottom: -15px;
}

.user p {
    text-align: center;
    width: 32ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.users a {
    flex-basis: 50%;
}