@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #424549;
}

header {
    line-height: 100px;
    display: flex;
    align-items: center;
    background-color: #1e2124;
    grid-column-start: span 0;
    grid-column-end: span 3;
}
.container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100px auto auto 100px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

header h2{
    color: #7289da;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #7289da;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.nav-item {*/
/*    margin-right: 5rem;*/
/*}*/

.nav-link{
    font-size: 20px;
    font-weight: 400;
    color: #7289da;
    text-decoration: none;
}

.nav-menu {
    position: fixed;
    left: 100%;
    top: 100px;
    flex-direction: column;
    background-color: #282b30;
    width: 150px;
    text-align: center;
    transition: 0.6s;
    padding: 0;
    margin: 0;
}

.nav-menu.active {
    left: calc(100% - 150px);
}

.hamburger {
    display: block;
    cursor: pointer;
}

.nav-menu li {
    list-style: none;
}

.nav-item {
    font-size: 1em;
}

.post h1{
    color: #fffffc;
    margin: 16px 0;
    font-weight: 800;
}

.wrapper h1{
    color: #fffffc;
    margin: 16px 0;
    font-weight: 800;
}

.users h1 {
    color: #fffffc;
    margin: 16px 0;
    font-weight: 800;
}

.post p {
    margin: 16px;
    line-height: 1.75;
    font-weight: 400;
}

/* Aside */
aside {
    background-color: #282b30;
    padding: 64px;
    border: 1px solid #333;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}

aside.comment.archives {
    margin-top: 64px;
}

aside {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    max-width: 100%;
}

aside h1 {
    text-align: center;
    font-size: 50px;
}

aside p {
    text-align: center;
    font-size: 20px;
    color: white;
}

main {
    background-color: #36393e;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}

section {
    background-color: #36393e;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}

section h1 {
    text-align: center;
    font-size: 20px;
}

main h1{
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.team h2 {
    text-align: center;
    padding-top: 20px;
}

.team a {
    color: #7289da;
    text-decoration: none;
}

.wrapper{
    padding: 30px;
}

.users {
    display: flex;
    align-items: center;
    justify-content: center;
}

.users h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

.list ul {
    color: white;
    display: flex;
    flex-direction: column;
}

.list ul li {
    list-style: none;
    padding: 20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    /*border: 3px solid black;*/
    width: 700px;
    display: flex;
    flex-wrap: wrap;
}

.list ul li h2{
    padding: 40px;
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
}

.list a {
    color: #7289da;
    width: auto;
    text-decoration: none;
    padding-top: 20px;
}