@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Change font family and backgroud color of the body*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #424549;
}


/*Creating container for the whole page and adjusting the grid layout*/
.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100px auto auto 100px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}