/*Adjusting the main grid layout and shdows*/
main {
    background-color: #282b30;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

/* Makes 3 grid columns for the different actions */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    background-color: #36393e;
}

/* Sets the flexBox settings for the profilePic column */
.profilePic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;
    Padding-top: 150px;
    color: white;
}

/* Makes the profilePic round */
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* Sets padding for the name under the profilePic */
.h2pf {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Makes a flexBox for the 'User Data' form */
.formData {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    align-items: center;
    background-color: #36393e;
    margin-top: 50px;
}

/* Styles the 'User data' form labels */
.formData label {
    padding: 10px;
    color: white;
}

/* Styles the 'User Data' form input fields */
.formData input {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    outline: none;
    /* border-bottom: 3px black solid; */
}

/* Styles the submit(save) buttons */
.submit {
    margin-top: 20px;
    width: auto;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #7289da;
    line-height: 1.15;
    font-size: 16px;
}

/* Places the 'User Data' column heading in the center and sets text size/color */
.userData h2 {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 25px;
}

/* Makes the certificates(Update certificate, experience and hobby) column flex */
.certificates {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    Padding-top: 70px;
    color: white;
}

/* Add flexBox to the 3 boxes in the certificates column and styles them */
.form {
    display: flex;
    background-color: #1e2124;
    margin: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

/* Styles the 'Certificates' form input fields */
.form input {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    text-align: center;
    outline: none;
    border-bottom: 3px black solid;
}

/* Styles the 'Certificates' form labels */
.form label {
    padding: 10px;
    color: white;
}

/* Makes the error message red */
#error {
    color: red;
    text-align: center;
    padding: 10px;
}

/* Makes the file upload form flexbox */
.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hides the original file upload button */
.uploadFile::-webkit-file-upload-button {
    display: none;
}

/* Styles the 'select image' button with a text, makes the mouse a pointer and more */
.uploadFile::before {
    content: 'Select image to upload';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
 }

 /* On hover set the 'select image' buttons border to black */
.uploadFile:hover::before {
    border: 1px solid black;
}

/* Sets the width for the selection menus */
select {

    width: 200px;
}
